body{
    background: #dbeafe;  /* fallback azul claro */
    background: -webkit-linear-gradient(to right, #ffffff, #dbeafe);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #dbeafe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}